#background {
    width: 100%;
    height: 100vh;
    background-image: url('images/background.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:fixed;
    z-index:-5;
}