#nav {
    z-index:5;
}

#nav #navButtons{
    position:absolute;
    right:0px;
}

#nav #navLogo {
    margin-left:10px;
}

@media (max-width:1020px) {
    #navLogo {
        display: none;
    }
}

@media (max-width:675px) {
    #nav {
        display:none;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + main {
    padding-top: 44px;
}