#nav {
    z-index:100;
    position:sticky;
    top:0;  
}

#nav #navButtons{
    position:absolute;
    right:0px;
}

#nav #navLogo {
    margin-left:10px;
}

#nav .welcome {
    display: none;
}

@media (max-width:1020px) {
    #navLogo {
        display: none;
    }
}

@media (max-width:515px) {
    #nav .welcome {
        display: inline-block;
        text-align:center;
        margin-left:10px;
    }

    #navButtons {
        display:none;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + main {
    padding-top: 44px;
}